<form #f="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group col-md-6 offset-md-3">
    <label for="nome">Usuário: </label>
    <input [(ngModel)]="usuario.nomeUsuario"
           type="text"
           name="nome"
           class="form-control" #nome="ngModel"
           id="nome"
           required />
    <div *ngIf="!nome.valid && nome.touched" class="invalid-feedback">
      Digite seu usuário.
    </div>
  </div>
  <div class="form-group col-md-6 offset-md-3">
    <label for="senha">Senha: </label>
    <input [(ngModel)]="usuario.senhaUsuario"
           type="password"
           name="senha"
           class="form-control"
           #senha="ngModel"
           id="senha"
           required />
    <div *ngIf="!senha.valid && senha.touched" class="invalid-feedback">
      Digite a sua senha.
    </div>
  </div>
  <div class="form-group col-md-6 offset-md-3">
  <button type="submit" class="btn btn-primary" [disabled]="!f.valid">Login</button>
  </div>
</form>
